@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Playfair;
}
body {
    background: #bbc6fa;
}
.quote-box {
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}
.quote-box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
.quote-box h2::after{
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: rgb(23, 124, 229);
    margin: 20px auto;
}
.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;
}
.quote-box blockquote::before,.quote-box blockquote::after{
    content: '"';
}
.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-box span::before{
    content: '';
    width: 20px;
    height: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}
.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quote-box button{
    width: 150px;
    height: 50px;
    border: transparent solid transparent;;
    border-radius: 25px;
    background: rgb(23, 124, 229);
    color: #fff;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
}
.twitter img{
    width: 30px;
    margin-right: 10px;
}
.quote-box button:nth-child(2){
    background:transparent;
    color: #333;
}
.Threads img{
    width: 20px;
    margin-right: 10px;
}
.quote-box button:nth-child(3){
    background: #d62976;
}
